<launch>
    <!-- These are the arguments you can pass this launch file, for example paused:=true -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="true"/>
    <arg name="model" default="$(find my_robot_navigation)/description/urdf/robot.urdf.xacro"/>
    <arg name="world_file" default="$(find my_robot_navigation)/gazebo/worlds/empty_world.world"/>
    <arg name="init_x" default="0.0"/>
    <arg name="init_y" default="0.0"/>
    <arg name="init_z" default="0.0"/>

    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find my_robot_navigation)gazebo/launch/empty_world.launch">
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="gui" value="$(arg gui)" />
        <arg name="headless" value="$(arg headless)"/>
        <!-- <arg name="debug" value="$(arg debug)" /> -->
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="world_name" value="$(arg world_file)"/>
    </include>

    <!-- Convert an xacro and put on parameter server -->
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>

    <!-- Push robot_description to factory and spawn robot in gazebo -->
    <node name="urdf_spawner" 
        pkg="gazebo_ros" 
        type="spawn_model"
        args="-x $(arg init_x) -y $(arg init_y) -z $(arg init_z) -unpause -urdf -model robot -param robot_description" 
        respawn="false"
        output="screen"/>

    <!-- State publishers -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="30.0"/>
    </node>

    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
        <!-- <param name="use_gui" value="true"/> -->
        <param name="publish_frequency" type="double" value="30.0"/>
    </node>

    <!-- RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_robot_navigation)/gazebo/rviz/config.rviz" output="screen"/>
</launch>
